<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.briantruong.smsapplication">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Message"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Message">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Contacts"></activity>
        <activity android:name=".Options"></activity>
        <activity android:name=".AddContact"></activity>
        <activity android:name=".EditContact"></activity>
        <activity android:name=".DeleteContact"></activity>
        <activity android:name=".Conversations"></activity>

        <receiver android:name=".ReceiveSMSActivity">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
